@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  color: #131313;
}
.description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.btn-primary {
  width: 180px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  background: #ff900e;
}

/* header part styles*/

.header {
  height: auto;
  background: rgba(255, 144, 14, 0.1);
}
/* nav bar styles */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-title {
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}
.nav-link-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  margin-top: 63px;
  list-style: none;
}
.nav-link-list a {
  padding-left: 22px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #424242;
}
/* header section styles */
.header-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 100px auto 50px auto;
}
.header-info {
  text-align: center;
}
.info-title {
  font-weight: 700;
  font-size: 55px;
}
.info-description {
  margin: 15px auto;
  width: 868px;
  height: 52px;
}

.header-section-container img {
  width: 80%;
  height: 40%;
  border-radius: 8px;
  margin-bottom: 50px;
}
/* header styles end */
/* main part styles start */
.main {
  margin: 0;
  background: #ffffff;
}
/* features section styles */
.features-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin: 60px auto 130px auto;
}
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
.feature img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}
.feature img:hover {
  border: 2px solid rosybrown;
}
.features-title {
  font-weight: 500;
  font-size: 45px;
}
.features-title .first-color {
  color: #727272;
}
.features-title .second-color {
  color: #ff900e;
}
.features-description {
  margin-top: 22px;
  margin-bottom: 30px;
}
/* features description section styles */
.features-description-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 0;
  border-radius: 8px;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.features-container {
  margin-top: 35px;
  margin-left: 12px;
}
.features-container-title {
  font-weight: 700;
  font-size: 45px;
  padding-left: 21px;
  border-left: 2px solid #ff900e;
}
.features-container-description {
  margin-top: 24px;
  margin-bottom: 30px;
}
/*features-extra-description  styles start*/
.features-extra-container {
  margin: 60px auto 0 auto;
}
.features-extra-description {
  margin-top: 40px;
  border: 0;
  border-radius: 8px;
}
.features-extra-description:hover {
  border: 2px solid rosybrown;
}
.extra-title {
  font-weight: 600;
  font-size: 20px;
  margin: 30px 0 10px 33px;
}
.extra-description {
  margin: 10px 42px 30px 33px;
}
/* features-extra-description styles end */
.feature-banner img {
  width: 708px;
  height: 982px;
}
.feature-banner-btn {
  width: 342px;
  height: 200px;
  color: #ffffff;
  background: #ff900e;
  border: 0;
  border-radius: 8px;
  margin-top: -400px;
  margin-left: -96px;
}
.feature-banner-btn h1 {
  font-weight: 700;
  font-size: 65px;
}
.feature-banner-btn h6 {
  font-weight: 500;
  font-size: 25px;
}
/* some facts style */
.some-facts-container {
  margin-top: 120px;
  margin-bottom: 100px;
}
.facts-description-container{
  margin-left: 70px;
}
.facts-title {
  font-weight: 700;
  font-size: 45px;
}
.facts-description {
  margin-top: 14px;
  margin-bottom: 100px;
}
.some-facts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  margin: 0 85px;
}
.some-fact {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 0;
  border-radius: 8px;
}
.some-fact:hover{
  border: 1px solid #ff900e;
}
.some-fact p {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.some-fact p span {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 45px;
  color: #424242;
}
/* sponsors styles start */
.sponsor-info {
  text-align: center;
  margin-bottom: 50px;
}
.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.sponsor-logos {
  margin-bottom: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sponsor-logos img {
  width: 166.76px;
  height: 50px;
  mix-blend-mode: luminosity;
}
/* contact styles start*/
.contact-container {
  margin-bottom: 50px;
}
.contact-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.contact-form {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.contact-container input[type="email"] {
  border: 1px solid #ff900e;
  border-radius: 8px;
  height: 64px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
/* contact styles end */
/* main part styles end */
/* footer part style start */
.footer-container {
  width: 90%;
  height: 94px;
  background-color: #fff4e7;
  border: 0;
  border-radius: 8px;
  margin: 100px auto;
}
.footer-description {
  text-align: center;
  padding-top: 39px;
}
/*  footer part style end */

/* responsive style for max-width:576px */
@media only screen and (max-width: 576px) {
  .btn-primary {
    width: 170px;
    height: 54px;
  }
  .title{
    font-size: 30px;
  }
  /* header part start */
  .header {
    width: 100%;
    height: auto;
  }
  .nav {
    flex-direction: column;
  }
  .nav-title {
    margin-top: 20px;
  }
  .nav-link-list {
    margin-top: 15px;
    flex-direction: column;
  }
  .header-section-container {
    margin: 30px auto;
    gap: 25px;
  }
  .info-description {
    width: 80%;
    height: 20%;
    margin: 15px auto;
  }
  .header-section-container img {
    margin-bottom: 20px;
  }
  /* header part end */
  /* main part start */
  .features-section {
    margin: 30px auto;
    flex-direction: column;
    gap: 40px;
  }
  .features {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .feature img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .features-info {
    margin: 0 auto;
    text-align: center;
  }


  /* features description section */
  .features-description-section {
    flex-direction: column;
    gap: 20px;
  }
  .features-container {
    margin: 0 auto;
  }
  .features-container-title {
    padding-left: 15px;
  }
  .feature-banner img {
    width: 90%;
    height: auto;
    margin-left: 25px;
  }
  .feature-banner-btn{
    width: 150px;
    height: 100px;
    margin: 2% 30%;
  }
  .feature-banner-btn h1{
    font-size: 30px;
  }
  .feature-banner-btn h6{
    font-size: 18px;
  }
  /* some facts */
  .some-facts-container{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .facts-description-container{
    margin: 0 auto;
  }
  .facts-description{
    margin-top: 7px;
    margin-bottom: 30px;
  }
  .some-facts{
    flex-direction: column;
    gap: 30px;
  }
  .some-fact p span{
    font-size: 30px;
  }
  /* sponsor section */
  .sponsor-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sponsor-logos{
    flex-direction: column;
    gap: 50px;
  }
  /* contact style */
  .contact-form{
    flex-direction: column;
  }
  /* main part end */
  /* footer part start */
  .footer-container{
    height: auto;
    margin: 20px auto;
  }
  /* footer part end */
}
/* responsive styles end */